.name{
    margin-left: 20px;
    font-size: 20px;
}
.program{
    margin-left: 40px;
    font-size: 20px;
}
.mydetails{
    margin-top: 7em;
}
.image{
    margin-top: 30px;
}
img {
    width: 400px;
    height: 500px;
    object-fit: cover;
}
.row{
    margin-right: 0;
}
.uprof{
    margin-top: 2em;
    font-weight: 800;
    font-size: 60px;
    color: darkgray;
}
.trdetails{
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
